@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --font-body: 'Averta', sans-serif;
    --font-heading: 'PP Formula Condensed', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@keyframes moveBackground {
    0% {
        background-size: 100% 100%;
    }
    10% {
        background-size: 120% 80%;
    }
    20% {
        background-size: 190% 140%;
    }
    30% {
        background-size: 130% 110%;
    }
    40% {
        background-size: 150% 120%;
    }
    50% {
        background-size: 180% 100%;
    }
    60% {
        background-size: 220% 80%;
    }
    70% {
        background-size: 100% 50%;
    }
    80% {
        background-size: 120% 70%;
    }
    90% {
        background-size: 110% 90%;
    }
    100% {
        background-size: 100% 100%;
    }
}

body {
    /*color: rgb(var(--foreground-rgb));*/
    /*background: linear-gradient(*/
    /*        to bottom,*/
    /*        transparent,*/
    /*        rgb(var(--background-end-rgb))*/
    /*) rgb(var(--background-start-rgb));*/
    /*background: rgb(6, 20, 35);*/
    /*background: rgb(0, 0, 0);*/
    background: #37383A;
    font-family: var(--font-body);
    overscroll-behavior: none;
}

/*h1, h2, h3, h4, h5, h6 {*/
/*    font-family: var(--font-heading);*/
/*    letter-spacing: 0.3rem;*/
/*}*/

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .outlined-text {
        @apply text-transparent;
        /*!* Apply Tailwind classes *!*/
        -webkit-text-stroke: 1px #ffffff; /* Custom CSS for text stroke */
    }
}

.cell-transparent::after {
    background-color: transparent !important;
}